/* Main content */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 5rem;
    min-height: 92vh;
    color: var(--shoe-wax);
    font-family: Poppins;
}

#mainSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;

}

.container-fluid {
    padding: 1rem;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    margin-bottom: 4rem;
}


.titleName > h1 {
    font-size: 40px;
    letter-spacing: 2px;
    margin: 0;
}
.titleName > p {
    margin: 0;

}

.profile{
    padding: 4px;
    border-radius: 50%;
    border: 5px solid #373636;
    transition: all .3s ease-in;
}

.profile > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
}
#buttonGetStarted{
    width: 12rem;
    padding: .5rem;
    transition: background .3s ease;
}

#buttonGetStarted:hover{
    background-color: var(--foundation-white);
    color: var(--shoe-wax);
}

@media (max-width: 999px) {
    #mainSection {
        flex-direction: column;
        gap: 2rem;
        animation: opacityAnimate 2s ease;
    }
}
@media (min-width: 999px) {
    #mainSection {
        padding-inline-start: 8rem;
        padding-inline-end: 8rem;
    }
    .titleName{
        animation: slideIn 1s ease-in;
        
    }
    .profile {
        animation: slideIn 1s ease-in;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        margin-right: -12rem;
    }
    to {
        opacity: 1;
        margin-right: 0;
    }	
}
@keyframes slideInTxt {
    from {
        opacity: 0;
        margin-right: -16rem;
    }
    to {
        opacity: 1;
        margin-right: 0;
    }	
}
@keyframes opacityAnimate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
