:root {
    --black-panther: #424242;
    --gray50: #7f7f7f;
    --shoe-wax: #2c2c2c;
    --foundation-white: #f0f0ff;
    --white: #ffff;
    --text-success: #00b277;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    overflow-x: hidden;
    background-color: var(--foundation-white)!important;
}

/* Header Style */

header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    background-color: var(--white);
    box-shadow: .4px .4px 8px var(--gray50);
}

header nav {
    height: 100%;
}

header nav ul {
    background-color: var(--white)!important;
    height: 100%;
    display: flex;
    align-items: center !important;
    margin: 0;
    padding: 0;
    flex-direction: row;
    gap: 2.5rem !important;
}

header a img {
    height: 35px;
}

header nav ul li {
    list-style-type: none!important;
}

header nav ul li a {
    letter-spacing: 3px;
}

header nav ul li a:hover {
    color: var(--gray50);
}

header nav ul li a {
    text-decoration: none;
    position: relative;
    color: var(--shoe-wax);
    transition: color 0.3s;
}

/* Mobile Style */

@media (min-width: 999px){
    header{
        padding-inline-start: 5rem;
        padding-inline-end: 5rem;
    }
    #contact{
        padding-inline-start: 5rem;
        padding-inline-end: 5rem;
    }
}


.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: var(--shoe-wax);
    margin: 6px;
    transition: transform 0.3s;
}

@media (max-width: 999px) {
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 92vh;
        width: 0;
        transition: width .3s ease-in;
        overflow: hidden;
        padding-top: 4rem;
        padding-bottom: 8rem;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        width: 80vw;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-7px, 5px);
}
.mobile-menu.active .line2{
    opacity: 0;
}
.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -5px);
}

/* Footer Style*/

footer {
    background-color: var(--white);
    height: 6rem;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
}

footer h6 {
    color: var(--shoe-wax);
    font-size: 14px;
    padding: 0;
    margin: 0;

}

footer .social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-right: 2rem;
}

footer .container-fluid {
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 100%;
}

footer a img {
    height: 4vh;
    margin-inline-start: .2rem;
    margin-inline-end: .2rem;
}

@media (max-width: 540px) {
    footer h6 {
        font-size: 10px;
    }

    footer .social-media img {
        height: 3vh;
    }
}